
@media (max-width: 828px) {
    html {
        display: flex;
        justify-content: center;
    }

    .site-header {
        width: 828px;

        display: flex;
        gap: 320px;
    }

    .site-header .logo {
        width: 251px;
        height: 74px;
        left: 50px;
    }

    .site-header .logo img {
        width: 96px;
        height: 65px;
    }

    .site-header .logo .logo-text1 {
        font-size: 80px;
        margin-left: 23px;
        line-height: 62px;
    }

    .site-header .logo .logo-text-description {
        font-size: 22px;
        margin-top: 19px;
    }

    .header-mobile-background, .menu1, .menu2, .menu3, .menu4, .left-paws, .right-paws, .image-landing {
        display: none;
    }

    .mobile-menu {
        position: absolute;
        width: 92px;
        height: 74px;
        top: 34px;
        left: 688px;

        background: url("../storage/menu.svg");
    }

    .mobile-menu ul {
        display: none;
    }

    .mobile-menu:hover ul{
        position: absolute;
        width: 828px;
        height: 896px;
        top: 74px;
        right: -48px;
        z-index: 999;
        list-style: none;

        background: #FF7D94;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu ul li a {
        width: 177px;
        height: 108px;

        font-family: 'Balsamiq Sans', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #FFFFFF;
    }

    .menu-mobile-button {
        width: 480px;
        height: 104px;
        margin: 79px 0;

        display: flex;
        justify-content: center;
        align-items: center;

        background: #FFFFFF;
        border-radius: 18px;
    }

    .header-mobile {
        font-size: 40px;
        color: #FF7D94;
    }

    .main-page, .main-page2, .main-page3, .main-page4, .main-page5, .footer {
        width: 828px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-page {
        height: 1400px;

        background-size: 100% 100%;
        background: url("../storage/mobile-background.svg") no-repeat center;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .main-page2 {
        height: 980px;
    }

    .reviews-container-background {
        background: none;
    }

    .main-page3 {
        height: 3620px;
    }

    .main-page4 {
        height: 1372px;
        align-items: flex-start;
    }

    .main-page5 {
        height: 1170px;
    }

    .footer {
        height: 375px;
    }

    .headline, .headline2, .headline3, .headline4 {
        width: 730px;
        margin: 0;
    }

    .headline {
        height: 276px;
        margin-top: 30px;
        text-align: center;
    }

    .headline2 {
        height: 276px;
        margin-top: 119px;
    }

    .headline3 {
        height: 207px;
        margin-top: 105px;
        margin-left: 49px;
    }

    .headline4 {
        height: 207px;
        margin-top: 131px;

        text-align: center;
    }

    .landing-introduction {
        width: 730px;
        height: 637px;

        display: flex;
        flex-direction: column;
    }

    .description-landing {
        width: 730px;
        height: 172px;
        top: 0;
        margin-top: 333px;
        text-align: center;
    }

    .image-landing-mobile {
        position: absolute;
        margin-bottom: 26px;
    }

    .request-call-button {
        width: 420px;
        height: 92px;
        top: 0;
        margin-top: 545px;
    }

    .request-call-button .request-call-text {
        width: 316px;
        height: 45px;

        font-size: 35px;
        line-height: 42px;
    }

    .quotes {
        width: 555px;
        height: 167px;
        margin-top: 50px;

        background: url("../storage/quotes2.svg");
    }

    .reviews-container {
        width: 729px;
        height: 717px;
    }

    .review, .review .heading, .review .review-text, .review .author {
        width: 516px;
    }

    .review .review-text, .review .author {
        font-size: 24px;
        line-height: 29px;
    }

    .room1, .room2, .room3 {
        margin: 0;
        width: 550px;
        height: 970px;
    }

    .room1 {
        margin-top: 470px;
    }

    .room2 {
        margin-top: 1500px;
    }

    .room3 {
        margin-top: 2530px;
    }

    .room1 img, .room2 img, .room3 img {
        width: 450px;
        height: 450px;
        top: 50px;
    }

    .room1 .description, .room2 .description, .room3 .description {
        width: 482px;
        height: 406px;
        top: 450px;
    }

    .room1 .big-bold, .room2 .big-bold, .room3 .big-bold {
        font-size: 64px;
        line-height: 77px;
    }

    .room1 .normal, .room2 .normal, .room3 .normal {
        font-size: 36px;
        line-height: 43px;
    }

    .room1 .bold, .room2 .bold, .room3 .bold {
        font-size: 36px;
        line-height: 43px;
    }

    .booking-button {
        position: absolute;
        width: 378px;
        height: 95px;
        left: calc(50% - 378px/2 + 1px);
        bottom: 65px;

        border-radius: 30px;
    }

    .booking-text {
        font-size: 38px;
    }

    .advantage1 {
        margin-top: 347px;
        margin-left: 51px;
    }

    .advantage2 {
        margin-top: 347px;
        margin-left: 437px;
    }

    .advantage3 {
        margin-top: 661px;
        margin-left: 51px;
    }

    .advantage4 {
        margin-top: 661px;
        margin-left: 437px;
    }

    .advantage5 {
        margin-top: 975px;
        margin-left: 51px;
    }

    .advantage6 {
        margin-top: 975px;
        margin-left: 437px;
    }

    .headline4-description {
        width: 633px;
        height: 43px;
        margin-top: 59px;
    }

    .buttons-container {
        width: 543px;
        height: 518px;
        margin-top: 50px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .page5-mobile-button {
        margin-bottom: 66px;
    }

    .page5-mobile-button .mobile-number, .page5-request-call .request-call-text {
        font-size: 45px;
        line-height: 54px;
    }

    .main-page5 img {
        position: absolute;
        left: 229px;
        margin-bottom: 288px;
    }

    .footer-logo {
        margin-top: 54px;
    }

    .menu-and-socials {
        width: 828px;
        margin-top: 27px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-and-copyright {
        height: 66px;

        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .copyright {
        margin-top: 18px;
    }

    .socials {
        width: 446px;
        height: 51px;
        margin-top: 39px;
    }

    .page2, .page3 {
        width: 828px;
        height: 3447px;

        background: url("../storage/background2-mobile.png");
    }

    .page3 {
        height: 2182px;
    }

    .main-text-page2, .main-text-page3 {
        width: 828px;
        height: 322px;
        top: 236px;
    }

    .main-text-page2 .heading, .main-text-page3 .heading {
        top: 0;
    }

    .main-text-page2 .description, .main-text-page3 .description {
        width: 729px;
        left: 51px;
        top: 107px;
        margin: 0;
    }

    .page2-rooms {
        width: 828px;
        height: 2889px;
        top: 558px;
    }

    .page2-room1, .page2-room2, .page2-room3 {
        width: 729px;
        height: 818px;
        margin-bottom: 0;
        margin-top: 103px;
    }

    .page2-room1-img, .page2-room2-img, .page2-room3-img {
        width: 665px;
        height: 741px;

        display: flex;
        justify-content: center;
    }

    .page2-room2-img{
        background-size: auto 100%;
    }

    .page2-room1-description, .page2-room2-description, .page2-room3-description {
        margin: 35px;
    }

    .lux {
        width: 828px;
        height: 1466px;
        top: 570px;
    }

    .lux .lux-advantages {
        width: 465px;
        right: 312px;
        top: 44px;
    }

    .page3-button {
        right: 48px;
        bottom: 1212px;
    }

    .lux .cat {
        width: 914px;
        right: 48px;
        bottom: 426px;
    }

    .lux .lux-img {
        width: 828px;
        height: 522px;
    }
}

@media (min-width: 829px) {
    .mobile-menu {
        display: none;
    }

    .image-landing-mobile {
        display: none;
    }
}
